<div class="availability-message">
  Estimated availability for new projects: two weeks
</div>
<!-- <app-toggle-theme-language class="toggleBlockPhone"></app-toggle-theme-language> -->
<div class="user-profile-page-box">
  <h1>Welcome to finteria account area</h1>
  <p>Here you'll find relevant information related to services, invoices, deadlines, reports, etc.</p>
  <!-- <app-toggle-theme-language></app-toggle-theme-language> -->
  <div class="card user-profile-info" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-4">
        <img class="img-fluid rounded-start profile-image" src="https://cdn-icons-png.flaticon.com/512/2102/2102647.png" class="card-img-top" alt="profile-image">
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title">Perfil del usuario</h5>
          <p class="card-text" [hidden]="this.currentUser.role !== 'admin'">Rol del usuario: {{this.currentUser?.role}}</p>
          <p class="card-text"><small class="text-muted">Nombre: {{this.currentUser?.name}}</small></p>
          <p class="card-text"><small class="text-muted">Apellidos: {{this.currentUser?.name}}</small></p>
          <p class="card-text"><small class="text-muted">Correo: {{this.currentUser?.email}}</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="messagesBox">
    <div *ngFor="let message of messages;">
      <small>Message from:</small>
      <h1>{{message.name}}</h1>
      <small>Message text:</small>
      <p>{{message.message}}</p>
    </div>
  </div>
</div>
