//Imports
@import '../../styles/helpers';
@import '../../styles/colors';

.toggleBlockPhone {
  @include displayFlex(column wrap, center, center);
  margin-bottom: 25px;
}

.user-profile-page-box {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.availability-message {
  @include displayFlex(column wrap, center, center);
  width: 100%;
  background: $tertiary;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 20px 5px;
}

.btn-text {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
}

.user-profile-info {
  padding: 5px;
  margin: 20px 0;
  // width: 400px;
  max-width: 540px;
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: start;
  // align-items: center;
}

div.card-body {
  margin: 0 auto;
}

.profile-image {
  max-width: 100px;
}

.messagesBox {
  width: 100%;
  border-top: 1px solid black;
}

.messageCard {
  width: 100%;
  border: solid 1px black;
  border-radius: 1rem;
  padding: 10px;
  margin: 5px 0px;
}
