<div class="signin-page">
  <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">
    <h3>Sign in</h3>
    <div class="form-input">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email" placeholder="Enter email" required>
    </div>
    <div class="form-input">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Enter password" required>
    </div>
    <button type="submit" class="btn btn-success">Sign in</button>
    <a href="/home">Forgot your password?</a>
    <a href="/sign-up">You don't have an account yet? Sign up now</a>
  </form>
</div>
