<!-- Button trigger modal -->
<button type="button" class="modal-click btn btn-grid" data-bs-toggle="modal" data-bs-target="#cvRequestModal">
  CV Request
</button>

<!-- Modal -->
<div class="modal fade portfolio-modal" id="cvRequestModal" tabindex="-1" aria-labelledby="cvRequestModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content portfolio-modal-box">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cvRequestModalLabel">Seems like you are interested...</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body portfolio-body-box">
        <p>Share with me your email, and I'll share with you my CV.</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Email to receive the CV" aria-label="Email to receive the CV" aria-describedby="button-addon2">
          <button class="btn btn-success" type="button" id="button-addon2">Send</button>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
