// @import '_colors'
@import '../../../../styles/colors';
@import '../../../../styles/helpers';

.btn-grid {
  @include light();
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 60px;
}

.grip-label-button {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 0.6rem;
  padding: 0.2rem;
}

img {
  margin: 5px;
}

.portfolio-modal-box {
  @include light();
}

.portfolio-body-box {
  @include displayFlex(row wrap, center, center)
}

.dark-mode {
  @include dark();
}
