// @import '_colors'
@import '../../../../styles/colors';
@import '../../../../styles/helpers';

.btn-grid {
  @include light();
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 60px;
}

.grip-label-button {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 0.6rem;
  padding: 0.2rem;
}

.portfolio-modal-box {
  @include light();
}

.portfolio-body-box {
  @include displayFlex(row wrap, center, center)
}

.dark-mode {
  @include dark();
}

//Portfolio card styles
@media screen and (max-width: 500px) {
  .portfolio-card {
    @include displayFlex(column wrap, center, center);
    border-radius: 1rem;
    margin: 5px;
    .portfolio-card-image {
      width: 250px;
      height: 150px;
      object-fit: cover;
      border-radius: 1rem 1rem 0 0;
    }
    .portfolio-card-details {
      @include displayFlex(column wrap, center, start);
      margin: 5px;
    }
    .portfolio-card-button {
      font-size: 0.7rem;
      width: 80%;
    }
  }
}
@media screen and (min-width: 500px) {
  .portfolio-card {
    @include displayFlex(row wrap, center, center);
    border-radius: 1rem;
    margin: 5px;
    .portfolio-card-image {
      width: 200px;
      height: 150px;
      object-fit: cover;
      border-radius: 1rem 0 0 1rem;
    }
    .portfolio-card-details {
      @include displayFlex(column wrap, center, start);
      max-width: 250px;
      margin: 5px;
    }
    .portfolio-card-button {
      font-size: 0.7rem;
      width: 80%;
    }
  }
}
