//Imports
@import "../../styles/_helpers";

// //Toggle theme and language box
// //Phone version
// @media screen and (max-width: 768px) {
//   .toggleBlockPhone {
//     @include displayFlex(column wrap, center, center);
//     margin-bottom: 25px;
//   }
// }
// @media screen and (min-width: 768px) {
//   .toggleBlockPhone {
//     display: none;
//   }
// }
// //Desktop version
// @media screen and (max-width: 768px) {
//   .toggleBlockDesktop {
//     display: none;
//   }
// }
// @media screen and (min-width: 768px) {
//   .toggleBlockDesktop {
//     @include displayFlex(row wrap, end, end);
//     margin-top: 25px;
//   }
// }

//Header box
.header-home{
  @include displayFlex(row wrap, center, center);
  margin: 25px 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .logo-box {
    @include displayFlex(column wrap, center, center);
    img {
      max-width: 540px;
      margin: 25px;
    }
  }
}
@media screen and (min-width: 768px) {
  .logo-box {
    @include displayFlex(column wrap, center, center);
    padding: 0 25px 0 0;
    @media screen and (max-width: 992px) {
      img {
        max-width: 230px;
        margin: 25px;
      }
    }
  }
}

.dark-logo {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

//Responsive design for divider line
@media screen and (max-width: 768px) {
  .divider-line {
    width: 150px;
    height: 1px;
    background: #4d4d4d;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .divider-line {
    width: 300px;
    height: 1px;
    background: #4d4d4d;
    margin-bottom: 15px;
  }
}

.contact-me-button {
  min-width: 150px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 4px;
}
