<!-- Button trigger modal -->
<button type="button" class="modal-click btn btn-grid" data-bs-toggle="modal" data-bs-target="#userAreaModal">
  Finteria Account
</button>

<!-- Modal -->
<div class="modal fade portfolio-modal" id="userAreaModal" tabindex="-1" aria-labelledby="userAreaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content portfolio-modal-box">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="userAreaModalLabel">User area</h1>
        <button type="button" class="btn-close btn-warning" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body portfolio-body-box">
        <i>Either you have an account,</i>
        <i>or you need to create one.</i>
        <small>Choose wisely the right button.</small>
      </div>
      <div class="buttons">
        <button class="btn btn-success">Log in</button>
        <button class="btn btn-light">Register</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
