// @import '_colors'
@import '../../../../styles/colors';
@import '../../../../styles/helpers';

.btn-grid {
  @include light();
  width: 90%;
  height: 60px;
}

img {
  margin: 5px;
}

.portfolio-modal-box {
  @include light();
}

.portfolio-body-box {
  @include displayFlex(row wrap, center, center)
}

.buttons {
  margin-bottom: 10px;
  button {
    margin: 5px;
  }
}

.dark-mode {
  @include dark();
}
