<div class="fixPosition fixed-top mobil mobileMenu">
  <div class="menu-box">
    <div class="dropdown">
      <button class="btn btn-dark menu-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-list"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
        <li><button class="dropdown-item"  routerLink="/">Home</button></li>
        <li><button class="dropdown-item" *ngIf="!this.authService.isLoggedIn" routerLink="/sign-in">{{"Log in" | translate }}</button></li>
        <li><button class="dropdown-item" *ngIf="this.authService.isLoggedIn" (click)="profile()">{{"My area" | translate }}</button></li>
        <li><button class="dropdown-item" *ngIf="this.authService.isLoggedIn" (click)="logout()">{{"Log out"}}</button></li>
        <li><app-toggle-theme-language class="dropdown-item"></app-toggle-theme-language></li>
      </ul>
    </div>
  </div>
</div>
<div class="desktopMenu fixed-top">
  <button class="desktop-item"  routerLink="/">Home</button>
  <button class="desktop-item" *ngIf="!this.authService.isLoggedIn" routerLink="/sign-in">{{"Log in" | translate }}</button>
  <button class="desktop-item" *ngIf="this.authService.isLoggedIn" (click)="profile()">{{"My area" | translate }}</button>
  <button class="desktop-item" *ngIf="this.authService.isLoggedIn" (click)="logout()">{{"Log out"}}</button>
  <app-toggle-theme-language class="desktop-item toggle-items"></app-toggle-theme-language>
</div>
