//Imports
@import "../../styles/colors";

.signup-page {
  margin: 50px 0;
}

//Responsive design
@media screen and (min-width: 550px) {
  .form-signup {
    width: 500px;
  }
}
@media screen and (max-width: 550px) {
  .form-signup {
    width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .form-signup {
    width: 100%;
  }
}

.form-input {
  width: 100%;
}

.btn-success {
  margin-top: 20px;
  width: 100%;
}

.bottom-btn {
  margin-top: 5px;
  width: 100%;
}
.bottom-btn:hover {
  box-shadow: inset 0px 0px 50px -30px $primary;
}
