/* You can add global styles to this file, and also import other style files */
//Imports
@import "./app/styles/helpers";
@import "./app/styles/colors";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: Montserrat;
  margin: 0 auto;
  padding: 0;

  @include light();
  a {
    color: $primary;
    text-decoration: none;
  };
  a:hover {
    color: $tertiary;
  }
}
//Para cambiar el tema de la página a oscuro
.dark-mode {
  @include dark();
  a {
    color: $secondary;
  };
}

//Hace que todo quede bien parejito en el centro y no se destroce el diseño
app-root {
  @include displayFlex(column wrap, center, center);
}
