<!-- Button trigger modal -->
<button type="button" class="modal-click btn btn-grid" data-bs-toggle="modal" data-bs-target="#graphicModal">
  Graphic designer portfolio
</button>

<!-- Modal -->
<div class="modal fade modal-lg modal-xl portfolio-modal" id="graphicModal" tabindex="-1" aria-labelledby="graphicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content portfolio-modal-box">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="graphicModalLabel">Diego's graphic design portfolio</h1>
        <button type="button" class="btn-close btn-warning" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body portfolio-body-box">
        <img src="https://dummyimage.com/300.png/09f/fff" alt="image">
        <br>
        <img src="https://dummyimage.com/300.png/09f/fff" alt="image">
        <br>
        <img src="https://dummyimage.com/300.png/09f/fff" alt="image">
        <br>
        <img src="https://dummyimage.com/300.png/09f/fff" alt="image">
        <br>
        <img src="https://dummyimage.com/300.png/09f/fff" alt="image">
        <br>
        <img src="https://dummyimage.com/300.png/09f/fff" alt="image">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
